.btn {
  padding: 0.7rem 2.5rem;
  border: 1px solid var(--color-green-light);
  border-radius: 10px;
  color: var(--color-green-light);
  cursor: pointer;
  background-color: #fff;
  transition: all 0.2s ease;
  outline: none;
}

.btn:hover,
.btn:active {
  background-color: var(--color-green-light);
  color: #fff;
}

.btn:disabled,
.btn:hover:disabled,
.btn:active:disabled {
  cursor: not-allowed;
  border-color: #ccc;
  color: #ccc;
  background-color: #fff;
}

.btn.flex_end {
  align-self: flex-end;
}

.btn.flex_start {
  align-self: flex-start;
}

.btn.btn_large {
  padding: 1.2rem 3rem;
}

.btn.btn_blue {
  border-color: var(--color-blue-light);
  color: var(--color-blue-light);
}

.btn.btn_blue:hover,
.btn.btn_blue:active {
  background-color: var(--color-blue-light);
  color: #fff;
}

.btn.btn_pink {
  border-color: var(--color-pink-light);
  color: var(--color-pink-light);
}

.btn.btn_pink:hover,
.btn.btn_pink:active {
  background-color: var(--color-pink-light);
  color: #fff;
}
