.btn {
  padding: 0.7rem 2.5rem;
  border: 1px solid var(--color-green-light);
  border-radius: 10px;
  color: var(--color-green-light);
  cursor: pointer;
  background-color: #fff;
  transition: all 0.2s ease;
  align-self: flex-end;
  outline: none;
}

.btn:hover,
.btn:active {
  background-color: var(--color-green-light);
  color: #fff;
}

.btn:disabled,
.btn:hover:disabled,
.btn:active:disabled {
  cursor: not-allowed;
  border-color: #ccc;
  color: #ccc;
  background-color: #fff;
}
