.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid var(--color-green-light);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 4rem;
}

@media only screen and (max-width: 43.75em) {
  .toolbar {
    height: 4rem;
    padding: 0 1rem;
  }
}
