.wrapper {
  width: 60rem;
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

@media only screen and (max-width: 31.25em) {
  .wrapper {
    width: 55rem;
  }
}

@media only screen and (max-width: 28.75em) {
  .wrapper {
    width: 50rem;
  }
}

@media only screen and (max-width: 26.25em) {
  .wrapper {
    width: 45rem;
  }
}

@media only screen and (max-width: 23.75em) {
  .wrapper {
    width: 40rem;
  }
}

@media only screen and (max-width: 21.25em) {
  .wrapper {
    width: 35rem;
  }
}

@media only screen and (max-width: 18.75em) {
  .wrapper {
    width: 30rem;
  }
}

@media only screen and (max-height: 43.75em) {
  .wrapper {
    width: 40rem;
    height: 40rem;
  }
}

@media only screen and (max-height: 31.25em) {
  .wrapper {
    height: 30rem;
  }
}

@media only screen and (max-height: 28.125em) {
  .wrapper {
    height: 20rem;
  }
}

@media only screen and (max-height: 21.875em) {
  .wrapper {
    height: 15rem;
  }
}
